#bg {
	background-color: blue;
	width: 100%;
	z-index: 1;
	position: relative;
}
#mask {
	background-color: green;
	width: 100%;
	z-index: 50;
	position: absolute;
}
#animating {
	background-color: red;
	width: 50%;
	margin-left: 25%;
	z-index: 10;
	position: absolute;
}
img {
	background-color: #ff00ff;
	width: 50%;
	height: auto;
	margin-left: 25%;
	transform: rotate(45deg);
	z-index: 100;
}